body {
    font-size: 13px;
	 font-family: arial, helvetica, sans-serif;
    color: black;
	padding: 0;
	background: #ccc url(resources/wall.png) no-repeat top;
	
}
#navigation {
    float: left;
    width: 250px;
}

#navigation a {
    display: block;
    padding: 25px 15px;
	border: 5px  #500;
	color: black;
	font-weight: bold;
	font-variant: small-caps;
}
a:link {

	text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
	background: url(resources/starDead2.gif) no-repeat right;
		text-shadow: 4px 4px 10px rgba(66, 68, 90, 1);
    text-decoration: none;
}



a:hover {
	border-radius: 25px 0px 0px 25px;
	text-shadow: 4px 4px 10px rgba(66, 68, 90, 1);
    text-decoration: none;
    background: url(resources/star2.gif) no-repeat right;
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

 
}
.footer {
	   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
text-align: center;
background: #ccc;
}

.content {
    margin: 0px 250px;
}

.header {
	  float: top;
  height: 77px;
		
		}
		
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#contact{
		      display: block;
}
#contact input[type=text]{
	width: 402px;
 margin: 8px 0;
  display: block;
}
#contact input:focus{
background: #eee;
}
#contact textarea:focus{
	background: #eee;

}
input[type=submit] {
   
  width: 409px;
  height: 35px;
 margin: 8px 0;
}
#contact textarea{
  width: 404px;
 margin: 8px 0;
  display: block;
  resize: none;
}